* {
    margin: 0%;
    padding: 0%;
}


html, css {
    height: 100%;
}
body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background: rgb(54,77,204);
    background: linear-gradient(180deg, rgba(54,77,204,1) 17%, rgba(126,142,231,1) 72%);
}
.avatar {
    width: 80px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
    
}
h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}
h2 {
    font-size: 17px;
    
}
.profile {
    text-align: center;
    margin-top: 20px;
}
.social img {
    width: 35px;
}
.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;
}
.link-list {
    list-style: none;
}
.link-list li {
    margin: 15px 20px;

}
.link-list li a {
    background-color: white;
    padding: 20px 20px;
    display: block;
    border-radius: 6px;
    text-decoration: none;
    color: rgb(54,77,204);
    font-weight: bold;    
}
.link-list li a span {
    color: grey;
    display: block;
    margin-top: 10px;
}